:root {
  --white: #F2F2F2;
  --white-low-transp: #f2f2f2e2;
  --white-high-transp: #f2f2f2ba;
  --purple: #4D2D8C;
  --purple-transp: #4d2d8cab;
  --pink: #C71E64;
  --pink-transp: #C71E64ab;
  --orange: #FF714B;
  --orange-transp: #ff724bab;
  --orange-high-transp: #ff724b77;
  --black-transp: #000000ab;
}

.white {
  background-color: var(--white);
}

.purple {
  color: var(--purple)
}

.pink {
  color: var(--pink)
}

.orange {
  color: var(--orange)
}

body {
  background: linear-gradient(to top, var(--white-high-transp),var(--white-high-transp)),
              url(../images/school-supplies-tile.jpg);
  /* The following prevents Chrome from changing the 
  background color on inputs when autofilled */
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
}

html {
  font-size: 18px;
}

.container {
  background: var(--white-low-transp);
  max-width: 1200px;
}

.carousel-caption {
  background: var(--purple-transp);
  border-radius: 10px;
}

.indie-flower {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .1rem;
}


.anagram button,
.contact button,
.login button,
.register button {
  background-color: var(--orange);
  color: var(--white);
}

.math button {
  background-color: var(--pink);
  color: var(--white);
}

.anagram button:hover, 
.math button:hover,
.contact button:hover,
.login button:hover,
.register button:hover {
  background-color: var(--purple);
  color: var(--white);
}

#register,
#math-game,
#game-result {
  display: none;
}

#math-game,
#operation-display2 {
  font-size: 1.5rem;
}

#num-buttons button {
  font-size: 24px;
  width: 52px;
  margin: 8px;
}

#num-buttons #clear {
  width: 120px;
}

#num-buttons {
    width: 232px;
    margin: auto;
}

#copyright {
  line-height: 2;
}

.footer p, .footer div {
  margin-bottom: 0;
}